.ml-2{
    margin-left: 2rem;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  /* font-variation-settings:"wdth" 100; */
}
.secondery-bg{
    background-color: #FFF8F3 ;
}
.text-primary{
    color: orange;
}
.dark-2{
    color: #474747;

}  
.dark-3{
    color: #757575;
}     
.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
.btn-secondary{
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}
.btn-content{
    display: flex;
    gap: 5px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center{
 text-align: center;
}
.header{
    background-image: url('../portfolio-resources/images/developer.png'), url('../portfolio-resources/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 200px;
}
.nav-title{
    font-weight:800;
    font-size: 45px;
}
nav ul{
    display:flex;
    align-items: center ;
}
nav ul li{
    list-style:none ;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600px;
}
.banner-title{
    font-weight: bold;
     font-size: 85px;
}
.banner_profile_pic{
    width:580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main-section{
     margin-top: 130px;
     margin-bottom: 130px;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-inner{
    background-color:#FFFFFF;
    border: 1px solid #000;
}
.item-title{
    margin: 16px 0 0 0;
}
.item-description{
    font-weight: 600;
    margin: 0;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill  {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.resume-container{
   display: flex;
   gap: 24px;
}
.resume-download-cv{
    margin-top: 50px;
}
footer {
    padding: 0px 230px;
    display: flex;
    gap: 100px;
    margin-top: 80px;
}
footer .logo{
    display: flex;
    gap: 20px;
}
.footer-coloum{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea {
    height: 64px;
    border-radius: 5;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}